
extends layout

block content
  .tg-wrap
    table.tg(style='undefined;table-layout: fixed; width: 748px')
      colgroup
        col(style='width: 30px')
        col(style='width: 320px')
        col(style='width: 90px')
        col(style='width: 90px')
        col(style='width: 90px')
        col(style='width: 90px')
        col(style='width: 30px')
      tr
        td.tg-cell(colspan='3')
          span(style='font-weight:bold') PRINTOGRAPH
          br
          | 02, Kaling Complex,
          br
          | Nr. Mount Carmel School,
          br
          | Ashram Road,
          br
          | Ahmedabad - 380009
          br
          span(style='font-weight:bold') Phone :
          |  26584963
          br
          span(style='font-weight:bold') Email :
          |           print_o_graph@yahoo.com
          br
          span(style='font-weight:bold') GSTIN :
          |  24ACPP3597P1IN
        td.tg-cell(colspan='4')
          span(style='font-weight:bold') Bill To Party :
          br
          br
          br
          span(style='font-weight:bold') Invoice No. :
          br
          span(style='font-weight:bold') Invoice Date :
          br
          span(style='font-weight:bold') GSTIN :
          br
          span(style='font-weight:bold') State :
          br
          span(style='font-weight:bold') Code :
      tr
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Sr.
          br
          span(style='font-weight:bold') No.
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Product Description
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') HSN/
          br
          span(style='font-weight:bold') SAC
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Qty.
        td.tg-centerAlignedGrayCell
          span(style='font-weight:bold') Rate
        td.tg-centerAlignedGrayCell(colspan='2')
          span(style='font-weight:bold') Amount
      tr
        td.tg-cell 1
        td.tg-cell test 1 ag juduhr fjefjhrrt jjjdujhu cjdjdir sdjrhhwkhdjkf dkjdhrukhf kjshrhrfhkj
        td.tg-cell ABC
        td.tg-cell 5
        td.tg-cell 20
        td.tg-rightAlignedCell 100
        td.tg-cell 00
      tr
        td.tg-grayCell(colspan='3')
          span(style='font-weight:bold') Total invoice amount in words
        td.tg-grayCell(colspan='2')
          span(style='font-weight:bold') Sub Total
        td.tg-rightAlignedCell
        td.tg-cell
      tr
        td.tg-centerAlignedCell(colspan='3', rowspan='4')
        td.tg-grayCell
          span(style='font-weight:bold') CGST
        td.tg-cell
        td.tg-rightAlignedCell
        td.tg-cell
      tr
        td.tg-grayCell
          span(style='font-weight:bold') SGST
        td.tg-cell
        td.tg-rightAlignedCell
        td.tg-cell
      tr
        td.tg-grayCell(colspan='2')
          span(style='font-weight:bold') Round Off
        td.tg-rightAlignedCell
        td.tg-cell
      tr
        td.tg-grayCell(colspan='2')
          span(style='font-weight:bold') Net Amount
        td.tg-rightAlignedCell
        td.tg-cell
      tr
        td.tg-cell(colspan='3')
          span(style='font-weight:bold') Subject to Ahmedabad Jurisdiction
          br
          span(style='font-weight:bold') E. & O.E.
        td.tg-centerAlignedCell(colspan='4')
          span(style='font-weight:bold') For, Printograph
          br
          br
          br
          br
          span(style='font-weight:bold') Signature
