
extends layout

block content
  | <script type='text/javascript'>
  | $(document).ready(function() {
  |   var max_fields      = 10; //maximum input boxes allowed
  |   var wrapper         = $(".input_fields_wrap"); //Fields wrapper
  |   var add_button      = $(".add_field_button"); //Add button ID
  |
  |   var x = 1; //initlal text box count
  |   $(add_button).click(function(e){ //on add input button click
  |       e.preventDefault();
  |       if(x < max_fields){ //max input box allowed
  |           $(wrapper).append('<div>Description: <input type="text" name="product['+ x +'][description]" value=""/> '+
  |             'Qty: <input type="number" name="product[' + x + '][qty]" value=""/> ' +
  |             'Rate:  <input type="number" name="product[' + x + '][rate]" value=""/> ' +
  |             '<a href="#" class="remove_field">Remove</a></div>'); //add input box
  |           x++; //text box increment
  |       }
  |   });
  |
  |   $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
  |       e.preventDefault(); $(this).parent('div').remove(); x--;
  |   });
  | });
  | </script>
  form(action='/products/preview', method='POST')
    p
      | Party Information
      input(type='text', name='partyName', value='')
    p
      | Party Address
    p
      | Line 1:
      input(type='text', name='partyAdrLine1', value='')
      | Line 2:
      input(type='text', name='partyAdrLine2', value='')
      | Line 3:
      input(type='text', name='partyAdrLine3', value='')
    p
      | GSTIN
      input(type='text', name='partyGSTIN', value='')
    p
      | State
      input(type='text', name='partyState', value='')
    p
      | Code
      input(type='text', name='partyCode', value='')
    br
    br
    br
    p
      | Product Details
    p
      .input_fields_wrap
        button.add_field_button Add More products
        div
          | Description:
          input(type='text', name='product[0][description]', value='')
          |       Qty:
          input(type='number', name='product[0][qty]', value='')
          |       Rate:
          input(type='number', name='product[0][rate]', value='')
    input(type='submit', value='Submit')
